@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans&family=Work+Sans&display=swap");
* {
  font-family: "EB Garamond", serif;
}
.banner-image {
  background-image: url("../images/banner.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
}
.card .card-img-top {
  width: 72px;
  height: 72px;
}
